body {
  background-color: rgb(89, 167, 167, 0.4);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  background-color: rgba(120, 218, 231, 0.5);
  padding: 50px;
  margin: 20px;
  border-radius: 5px;
  border-width: 20px;
  text-align: center;
  width: 370px;
  height: 370px;
  word-wrap: break-word;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
